body{
    background-color: #f2f2f2f2;
    text-align: justify;
    font-family: "Museo Sans", sans-serif;
}

h1, h2 {
    font-family: "Quarto Sans", serif;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: var(--font-sans-serif);
}

.a {
    color: #2f80ed;
}